<% """
What is going on here is that form_with(...) returns a FromBuilder object
assigned to form variable.

The object is tied to clanek object.

form.label is a method that takes as an argument a method of the tied object.
This can be specified as a symbol of the same name.

Technically, the do ... end 'block' is the last argument of the form_with method.
Internally, form_with will create a FormBuilder object and applies it to the block.
(i.e. it does not return a FromBuilder object after all). 
The returned value is html code. Which makes sense, because that is what we want here.

Btw, with my naming convention, form_with will not guess url paths correctly.
"""%>


<%= form_with( model: clanek, url: clanek.id.nil? ? clanky_index_path : clanek_path) do |form| %>
  <div>
    <%= form.label :titul %>
    <%= form.text_field :titul %>
  </div>

 <div>
    <%= form.label :featured_image, style: "display: block" %>
    <%= form.file_field :featured_image, accept: "image/*" %>
  </div>

  <div>
    <%= form.label :telo_clanku, style: "display: block" %>
    <%= form.rich_text_area :telo_clanku %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

